@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default colors */
:root {
  --background: #fefefe;
  /* Half light gray and half white */
  --foreground: #171717;
  /* Dark text */
}

/* Colors for light mode (will apply to light preference) */
@media (prefers-color-scheme: light) {
  :root {
    --background: #fefefe;
    /* Half light gray and half white */
    --foreground: #171717;
    /* Dark text */
  }
}

/* Apply background and foreground colors to the body */
body {
  color: var(--foreground);
  background: var(--background);
  /* Using gradient background */
  font-family: Arial, Helvetica, sans-serif;
}